<?xml version="1.0"?>
<configuration>
  <system.web>
    <!--“检测到有潜在危险的 Request.Form 值”的解决方法，必须在页面的page标签里输入 validateRequest="false" -->
    <httpRuntime executionTimeout="3600" maxRequestLength="1048576" requestValidationMode="2.0"/>
  </system.web>
  <appSettings>
    <!--返回按钮-->
    <add key="IsBackButton" value="false"/>
    <add key="BackButtonURL" value="Center.aspx"/>
    <!--不需要显示的文件夹,采用逗号数组区分，最后面不需要使用逗号-->
    <add key="Folders" value="bin,Properties,obj"/>
    <!--不需要显示的文件后缀,采用逗号数组区分，最后面不需要使用逗号-->
    <add key="Files" value="csproj,user,png,gif,jpg"/>
  </appSettings>
</configuration>




